#1. Python Introduction
Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.
Python is dynamically typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming. It is often described as a "batteries included" language due to its comprehensive standard library.

##1.1 Why Python?
Python has a simple syntax and hence is easy to understand and learn. Thus, making it a popular pick when it comes to programming languages. As you can see, the same code can be written using fewer lines in Python. Thus, making it much simpler to use on many levels.

##1.2 Where it is used?
Python is commonly used for developing websites and software, task automation, data analysis, and data visualization. Since it's relatively easy to learn, Python has been adopted by many non-programmers such as accountants and scientists, for a variety of everyday tasks, like organizing finances.

#2. Data Types
Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

##Text Type: Str

In [ ]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

##Numeric Types: int, float, complex
###int:

In [ ]:
x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

###float:

In [ ]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

###complex:

In [ ]:
x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

##Sequence Types:
###list, tuple, range
###list:

In [ ]:
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

###tuple:

In [ ]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

###range:

In [ ]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

###range:

##Mapping Type:
###dict:

In [ ]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

##Set Types:
###set, frozenset

###set:

In [ ]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

###frozenset:

In [ ]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

##Boolean Type:
###bool:

In [ ]:
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

##Binary Types:
###bytes, bytearray, memoryview

###bytes:

In [ ]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

###bytearray:

In [ ]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

###memoryview:

In [ ]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x78c209e1c280>
<class 'memoryview'>

##None Type:
###NoneType:

In [ ]:
x = None

#display x:
print(x)

#display the data type of x:
print(type(x))

None
<class 'NoneType'>

##2.1 Variables?
Variables are containers for storing data values.
###Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

###2.1.1. Local variable:
Python local variable plays an important role in the entire python programming language as it is used for any scope definition and manipulation. A local variable in Python is always declared within a specific scope like it is mostly present within any function’s body where other members can access it.

In [ ]:
def dinner_prep():
  dine = 'Pizza_with_extra_topping'
  print('Please have a pizza with extra_topping', dine)
dinner_prep()

Please have a pizza with extra_topping Pizza_with_extra_topping

###2.1.2. Gobal variable:
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

###2.1.3. Gobal variable:
A global keyword is a keyword that allows a user to modify a variable outside the current scope. It is used to create global variables in Python from a non-global scope, i.e. inside a function. Global keyword is used inside a function only when we want to do assignments or when we want to change a variable. Global is not needed for printing and accessing.

In [ ]:
x = 15


def change():
	# using a global keyword
	global x

	# increment value of a by 5
	x = x + 5
	print("Value of x inside a function :", x)


change()
print("Value of x outside a function :", x)

Value of x inside a function : 20
Value of x outside a function : 20

###2.2 Numbers:
There are three numeric types in Python:
int,
float,
complex

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

###2.3 Strings:
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

###2.3.1. String Length:
To get the length of a string, use the len() function.

In [ ]:
a = "Hello, World!"
print(len(a))

13

###2.3.2. String Method:
Python has a set of built-in methods that you can use on strings.

capitalize():
Converts the first character to upper case

In [ ]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

casefold():	Converts string into lower case

In [ ]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

center():	Returns a centered string

In [ ]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

count():	Returns the number of times a specified value occurs in a string

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

encode():	Returns an encoded version of the string

In [ ]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

endswith():	Returns true if the string ends with the specified value

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

expandtabs():	Sets the tab size of the string

In [ ]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

find():	Searches the string for a specified value and returns the position of where it was found

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

format():	Formats specified values in a string

*   List item
*   List item

In [ ]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

format_map():	Formats specified values in a string

In [ ]:
# input stored in variable a.
a = {'x':'John', 'y':'Wick'}

# Use of format_map() function
print("{x}'s last name is {y}".format_map(a))

John's last name is Wick

###2.3.3. Accesing the value of string:
Depending upon how you want to go at it, CosmicComputer is right to refer you to Regular Expressions. If your syntax is this simple, you could always do something like:

In [ ]:
line = 'Found mode 1 of 12: EV= 1.5185449E+04, f= 19.612545, T= 0.050988.'

splitByComma=line.split(',')

fValue = splitByComma[1].replace('f= ', '').strip()
print(fValue)

19.612545

###2.3.4. Update the String:
Python has a set of built-in methods that you can use on strings. Upper Case,Lower Case,Remove Whitespace,Replace String,Split String

###2.3.4. String Special operators:
In python, String operators represent the different types of operations that can be employed on the program’s string type of variables. Python allows several string operators that can be applied on the python string are as below:

1. Assignment operator: “=.”
2. Concatenate operator: “+.”
3. String repetition operator: “*.”
4. String slicing operator: “[]”
5. String comparison operator: “==” & “!=”
6. Membership operator: “in” & “not in”
7. Escape sequence operator: “\.”
8. String formatting operator: “%” & “{}”

Example #1 – Assignment Operator “=”

In [ ]:
string1 = "hello"
string2 = 'hello'
string3 = '''hello'''
print(string1)
print(string2)
print(string3)

hello
hello
hello

Example #2 – Concatenate Operator “+”

In [ ]:
string1 = "hello"
string2 = "world "
string_combined = string1+string2
print(string_combined)

helloworld

Example #3 – String Repetition Operator “*”

In [ ]:
string1 = "helloworld "
print(string1*2)
print(string1*3)
print(string1*4)
print(string1*5)

helloworld helloworld
helloworld helloworld helloworld
helloworld helloworld helloworld helloworld
helloworld helloworld helloworld helloworld helloworld

Example #4 – String slicing operator “[]”

In [ ]:
string1 = "helloworld"
print(string1[1])
print(string1[-3])
print(string1[1:5])
print(string1[1:-3])
print(string1[2:])
print(string1[:5])
print(string1[:-2])
print(string1[-2:])
print(string1[::-1])

e
r
ello
ellowo
lloworld
hello
hellowor
ld
dlrowolleh

Example #5 – String Comparison Operator “==” & “!=”

In [ ]:
string1 = "hello"
string2 = "hello, world"
string3 = "hello, world"
string4 = "world"
print(string1==string4)
print(string2==string3)
print(string1!=string4)
print(string2!=string3)

False
True
True
False

Example #6 – Membership Operator “in” & “not in”

In [ ]:
string1 = "helloworld"
print("w" in string1)
print("W" in string1)
print("t" in string1)
print("t" not in string1)
print("hello" in string1)
print("Hello" in string1)
print("hello" not in string1)

True
False
False
True
True
False
False

### 2.3.6. String Formatting operators
String formatting in Python
There are five different ways to perform string formatting in Python
Formatting with % Operator.
Formatting with format() string method.
Formatting with string literals, called f-strings.
Formatting with String Template Class
Formatting with center() string method.
So we will see the entirety of the above-mentioned ways, and we will also focus on which string formatting strategy is the best.

##2.4 Lists
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

###2.4.1. Create a List
Here we are creating Python List using [].

In [ ]:

Var = ["Geeks", "for", "Geeks"]
print(Var)

['Geeks', 'for', 'Geeks']

###2.4.2. Access values of List

In [ ]:
my_list = [21, 44, 35, 11]

for index, val in enumerate(my_list):
    print(index, val)

0 21
1 44
2 35
3 11

###2.4.3. Update the List
You can update single or multiple elements of lists by giving the slice on the left-hand side of the assignment operator, and you can add to elements in a list with the append() method.

In [ ]:
my_list = ['physics', 'chemistry', 1997, 2000]

print("Value available at index 2:")
print(my_list[2])

my_list[2] = 2001

print("New value available at index 2:")
print(my_list[2])

Value available at index 2:
1997
New value available at index 2:
2001

###2.4.4. Addition in List
There are four methods to add elements to a List in Python.

1. append(): append the element to the end of the list.
2. insert(): inserts the element before the given index.
3. extend(): extends the list by appending elements from the iterable.
4. List Concatenation: We can use the + operator to concatenate multiple lists and create a new list.

### 2.4.5. Deletion Methods in List
There are three ways in which you can Remove elements from List:

1. Using the remove() method
2. Using the list object’s pop() method
3. Using the del operator

List Object’s remove() method:
The remove() method is one of the most commonly used list object methods to remove an item or an element from the list. When you use this method, you will need to specify the particular item that is to be removed. Note that, if there are multiple occurrences of the item specified, then its first occurrence will be removed from the list.  We can consider this method as “removal by item’s value”. If the particular item to be removed is not found, then a ValueError is raised.

In [ ]:
myList = ["Bran",11,22,33,"Stark",22,33,11]

myList.remove(22)

myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

List Object’s pop() method:
The pop() method is another commonly used list object method. This method removes an item or an element from the list, and returns it. The difference between this method and the remove() method is that, we should specify the item to be removed in the remove() method. But, when using the pop(), we specify the index of the item as the argument, and hence, it pops out the item to be returned at the specified index. If the particular item to be removed is not found, then an IndexError is raised.

In [ ]:
myList = ["Bran",11,22,33,"Stark",22,33,11]

myList.pop(1)

11

Python del operator:
This operator is similar to the List object’s pop() method with one important difference. The del operator removes the item or an element at the specified index location from the list, but the removed item is not returned, as it is with the pop() method. So essentially, this operator takes the item’s index to be removed as the argument and deletes the item at that index. The operator also supports removing a range of items in the list. Please note, this operator, just like the pop() method, raises an IndexError, when the index or the indices specified are out of range.

In [ ]:
myList = ["Bran",11,22,33,"Stark",22,33,11]

del myList[2]

myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

### 2.4.6. Reverse the List

The reverse() method reverses the elements of the list.

In [ ]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# reverse the order of list elements
prime_numbers.reverse()


print('Reversed List:', prime_numbers)

# Output: Reversed List: [7, 5, 3, 2]

Reversed List: [7, 5, 3, 2]

### 2.4.7. List sorting
Sort the list alphabetically:

In [ ]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

##2.5 Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

###2.5.1. Create a Dictionaries
To create an empty dictionary, first create a variable name which will be the name of the dictionary.

Then, assign the variable to an empty set of curly braces, {}.

In [ ]:
#create an empty dictionary
my_dictionary = {}

print(my_dictionary)

#to check the data type use the type() function
print(type(my_dictionary))

#output

#{}
#<class 'dict'>

{}
<class 'dict'>

###2.5.2. Access the value of Dictionary
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

###2.5.3. Update the Dictionary
The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.

In [ ]:
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}

marks.update(internal_marks)


print(marks)

# Output: {'Physics': 67, 'Maths': 87, 'Practical': 48}

{'Physics': 67, 'Maths': 87, 'Practical': 48}

###2.5.4. Delete the Dictionary (All Methods)
We can use the following methods to remove items from a dictionary in Python:

1. The del keyword
2. The clear() method
3. The pop() method
4. The popitem() method

The del keyword method uses the keyword from the dictionary to remove an item.

In [ ]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the del keyword
del countries["China"]
print(countries)

{'Ghana': 'Accra'}

The clear() method clears all the items in the dictionary.

In [ ]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the clear() method
countries.clear()
print(countries)

{}

The pop method uses the keyword from the given dictionary to remove an item from that dictionary. The pop method is similar to the del keyword method because they both use the keyword from the dictionary.

In [ ]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the pop() method
countries.pop("China")
print(countries)

The popitem() removes the last item added to the dictionary.

Example

In [ ]:
countries={"Ghana": "Accra", "China": "Beijing"}
# using the clear() method
countries.popitem()
print(countries)

{'Ghana': 'Accra'}

###2.5.5. Length of Dictionary
Python dictionary method len() gives the total length of the dictionary. This would be equal to the number of items in the dictionary.

In [ ]:
my_dict = {'Name': 'Zara', 'Age': 7}
print("Length : %d" % len(my_dict))

Length : 2

##2.6 Tuples
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

###2.6.1. Create a Tuples
In Python, you can create a tuple by enclosing a sequence of values in parentheses. Here's how to create a tuple:

In [ ]:
another_tuple = 1, 2, 3

###2.6.2. Access the value of Tuples
You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

 ###2.6.3. Update the Tuples
 Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

###2.6.4. Delete the Tuples (All Methods)
Print the original tuple using the print() function and the string concatenation operation +. The str() function is used to convert the tuple to a string.
Use slicing and concatenation to clear the tuple. Slicing is used to get an empty tuple, and concatenation is used to combine it with the original tuple.

In [ ]:
# initializing tuple
test_tup = (1, 5, 3, 6, 8)

# printing original tuple
print("The original tuple : " + str(test_tup))

# Clearing a tuple using slicing and concatenation
test_tup = test_tup[0:0] + ()

# print result
print("The tuple after clearing values : " + str(test_tup))

The original tuple : (1, 5, 3, 6, 8)
The tuple after clearing values : ()

###2.6.5. Length of Tuple
Python tuple method len() returns the number of elements in the tuple.

In [ ]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print("First tuple length:", len(tuple1))
print("Second tuple length:", len(tuple2))

First tuple length: 3
Second tuple length: 2

##2.7 Sets
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

###2.7.1. Create a Sets
Create a Set:

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

###2.7.2. Access the items of Sets
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

### 2.7.3. Add and Update items in Sets

In [ ]:
A = {'a', 'b'}
B = {1, 2, 3}

# updates A after the items of B is added to A
A.update(B)

print(A)

# Output: {'a', 1, 2, 'b', 3}

{1, 2, 3, 'a', 'b'}

###2.7.4. Delete the Sets (All Methods)
The clear() method removes all items from the set.

In [ ]:
# set of prime numbers
primeNumbers = {2, 3, 5, 7}

# clear all elements
primeNumbers.clear()

print(primeNumbers)

# set()

set()

##3. Operators
Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [ ]:
print(10 + 5)

15

### 3.1. Arithmetic Operators
Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

Arithmetic operators

In [ ]:
x = 5
y = 3

print(x + y)

8

### 3.3. Assignment Operators
Assignment operators are used to assign values to variables:

In [ ]:
x = 5

print(x)

5

###3.4. Comparison Operators

Comparison operators are used to compare two values:

In [ ]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

Logical operators are used to combine conditional statements:

In [ ]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [ ]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [ ]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

Membership operators are used to test if a sequence is presented in an object:

In [ ]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [ ]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

Bitwise operators are used to compare (binary) numbers:

In [ ]:
print(6 & 3)

2

In [ ]:
print(6 & 3)

2

In [ ]:
print(6 ^ 3)

5

In [ ]:
print(~3)

-4

In [ ]:
print(3 << 2)

12

In [ ]:
print(8 >> 2)

2

##4. Conditional statements
Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

###4.1. If statement
An "if statement" is written by using the if keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### 4.2. if-else statement
The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### 4.3. if-else-if statement (Elif)
The if...else statement is used to execute a block of code among two alternatives.

However, if we need to make a choice between more than two alternatives, then we use the if...elif...else statement.

The syntax of the if...elif...else statement is:

In [ ]:
# Get the user's age as input
age = int(input("Enter your age: "))

# Check age and provide a response
if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")

Enter your age: 12
You are a minor.

##5. Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

###5.1. For loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

###5.2. Break statement
In Python, break allows you to exit a loop when an external condition is met. Normal program execution resumes at the next statement. You can use a break statement with both for loops and while loops. In a nested loop, break will stop execution of the innermost loop. The flow of the program resumes at the next line of code immediately after the block.

In [ ]:
# Using break in a for loop
my_list = [1, 2, 3, 4, 5]

for item in my_list:
    if item == 3:
        break  # exit the loop when item is equal to 3
    print(item)

# Using break in a while loop
count = 0

while count < 5:
    if count == 2:
        break  # exit the loop when count is equal to 2
    print(count)
    count += 1

1
2
0
1

###5.3. Continue statement
The continue statement in Python returns the control to the beginning of the while loop. The continue statement rejects all the remaining statements in the current iteration of the loop and moves the control back to the top of the loop.

In [ ]:
# First Example
for letter in 'Python':
    if letter == 'h':
        continue
    print('Current Letter:', letter)

# Second Example
var = 10
while var > 0:
    var = var - 1
    if var == 5:
        continue
    print('Current variable value:', var)
print("Good bye!")

Current Letter: P
Current Letter: y
Current Letter: t
Current Letter: o
Current Letter: n
Current variable value: 9
Current variable value: 8
Current variable value: 7
Current variable value: 6
Current variable value: 4
Current variable value: 3
Current variable value: 2
Current variable value: 1
Current variable value: 0
Good bye!

### 5.4. While loop
With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

###5.5. Nested loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##6. Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

### 6.1. Create a Function
In Python a function is defined using the def keyword:

In [ ]:
def my_function():
  print("Hello from a function")

 ###6.2. Calling a Function
 To call a function, use the function name followed by parenthesis:

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

###6.3. Parameters in a Function
In Python, you can define a function with parameters (also called arguments) to accept input values that the function can work with. Parameters allow you to make your functions more flexible and reusable by passing data to them. Here's how you can define a function with parameters:

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

# Calling the function with an argument
greet("Alice")

Hello, Alice!

### 6.4. Default parameter in Function
In Python, you can specify default values for function parameters. Default parameters allow you to define a default value for a parameter in case the caller of the function does not provide a value for that parameter. Here's how you can use default parameters:

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

# Calling the function without an argument
greet()  # Output: Hello, Guest!

# Calling the function with an argument
greet("Alice")  # Output: Hello, Alice!

Hello, Guest!
Hello, Alice!

### 6.5. Return in Function
In Python, the return statement is used in functions to specify what value or values the function should provide as output when it is called. You can use the return statement to send data back from a function to the calling code. Here's how it works:

In [ ]:
def add(a, b):
    result = a + b
    return result

# Calling the function and storing the result in a variable
sum_result = add(5, 3)
print(sum_result)  # Output: 8

8

##7. Lambda Functions

A lambda function in Python is a concise way to create small, anonymous (unnamed) functions. These functions are defined using the lambda keyword and are often used for short, simple operations that can be expressed in a single line of code. Lambda functions can take any number of arguments but can only have one expression. They are often used as inline functions or for operations like mapping and filtering in functional programming paradigms.

###7.1. Syntax of Lambda Function
The syntax of a lambda function in Python is as follows:

In [ ]:
lambda arguments: expression

lambda is the keyword used to define a lambda function

arguments are the input parameters (or arguments) that the lambda function takes. You can have any number of arguments, including zero, but they are separated by commas.

expression is the single expression or operation that the lambda function performs. The result of this expression is automatically returned by the lambda function.

Here's an example of a simple lambda function that adds two numbers:

In [ ]:
add = lambda x, y: x + y
result = add(3, 5)  # Calling the lambda function
print(result)  # Output: 8

8

###7.2. Map()

In Python, map() is a built-in function that is used to apply a given function to every item in an iterable (e.g., a list, tuple, or string) and return an iterable with the results. The syntax for the map() function is as follows:

In [ ]:
# Define a function to square a number
def square(x):
    return x ** 2

# Create a list of numbers
numbers = [1, 2, 3, 4, 5]

# Use map() to apply the square function to each element in the list
squared_numbers = map(square, numbers)

# Convert the result to a list (or another iterable type if needed)
squared_numbers_list = list(squared_numbers)

print(squared_numbers_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

###7.3. filter()

In Python, the filter() function is a built-in function used to filter elements from an iterable (such as a list) based on a given function or condition. It returns an iterable containing only the elements for which the function or condition evaluates to True. The syntax for the filter() function is as follows:

In [ ]:
# Define a function to filter even numbers
def is_even(x):
    return x % 2 == 0

# Create a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter() to filter even numbers from the list
even_numbers = filter(is_even, numbers)

# Convert the result to a list (or another iterable type if needed)
even_numbers_list = list(even_numbers)

print(even_numbers_list)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

### 7.4. Why, When and where it is used?

Why we use:

Conciseness: Lambda functions are concise and can help reduce code clutter, especially when you need to pass a simple function as an argument to another function.

Readability: In some cases, lambda functions can make your code more readable by defining a function at the point where it's used, rather than defining a separate named function.

Functional Programming: Lambda functions are commonly used in functional programming languages like Python, JavaScript, and Ruby, where functions can be treated as first-class citizens and passed as arguments to higher-order functions.

When to Use Lambda Functions:

Filtering and Mapping: Lambda functions are often used with functions like filter() and map() to process lists or collections of data.

In [1]:
numbers = [1, 2, 3, 4, 5]
even_numbers = filter(lambda x: x % 2 == 0, numbers)
doubled_numbers = map(lambda x: x * 2, numbers)

Sorting: Lambda functions can be used to specify custom sorting criteria for lists or arrays.

In [2]:
students = [{'name': 'Alice', 'grade': 85}, {'name': 'Bob', 'grade': 92}]
students.sort(key=lambda x: x['grade'])

Callbacks: When you need to pass a simple function as a callback to an event handler or another function.

In [3]:
button.click(lambda: print('Button clicked'))

NameError: ignored

Where to Use Lambda Functions:

Lambda functions are supported in various programming languages, including:

Python: Lambda functions are commonly used in Python for functional programming tasks, list comprehensions, and working with higher-order functions like map(), filter(), and sorted().

JavaScript: JavaScript supports arrow functions, which are similar to lambda functions and are often used in array methods like map(), filter(), and sort().

Ruby: Ruby allows you to create lambdas and use them in functions like each, map, and select for enumerable objects.

Java: Java introduced lambda expressions in Java 8, allowing you to write more concise code when working with functional interfaces.

##8. Arrays
 Are fundamental data structures used in programming to store collections of elements, such as numbers, strings, or objects. In most programming languages, arrays are indexed and can be created, accessed, and updated. Here, I'll provide examples in Python, JavaScript, and C++ to demonstrate how to perform these operations.

###Create an Array:
You can create an array in Python using a list.

In [ ]:
my_array = [1, 2, 3, 4, 5]

###Access Elements:
Accessing elements in a Python array is done using indexing, starting from 0.

In [ ]:
first_element = my_array[0]  # Access the first element (1)
second_element = my_array[1]  # Access the second element (2)

###Update Elements:
You can update elements in a Python array by assigning a new value to a specific index.

In [ ]:
my_array[2] = 100  # Update the third element to 100

##9. Class and Objects:

Class: In object-oriented programming, a class is a blueprint or template that defines the structure and behavior of objects. It serves as a blueprint for creating objects with a common set of attributes (properties) and methods (functions).

Object: An object is an instance of a class. It is a self-contained unit that encapsulates data (attributes) and the methods (functions) that operate on that data. Objects are used to represent real-world entities and their behavior in code.

###9.1. Create class and objects
Creating a class and objects in Python involves defining a class with attributes and methods and then creating instances (objects) of that class. Here's a step-by-step guide to creating a class and objects in Python:

In [ ]:
# Define a class
class Person:
    # Constructor method to initialize the object
    def __init__(self, name, age):
        self.name = name
        self.age = age

    # Method to introduce the person
    def introduce(self):
        return f"My name is {self.name} and I am {self.age} years old."

# Create objects (instances) of the class
person1 = Person("Alice", 30)
person2 = Person("Bob", 25)

# Access object attributes
print(person1.name)  # Output: Alice
print(person2.age)   # Output: 25

# Call object methods
intro1 = person1.introduce()
intro2 = person2.introduce()

print(intro1)  # Output: My name is Alice and I am 30 years old.
print(intro2)  # Output: My name is Bob and I am 25 years old.

##10. File I/O
File I/O (Input/Output) is a fundamental concept in programming that involves reading data from external sources (e.g., keyboard or files) and writing data to external destinations (e.g., text files or databases). It is essential for various tasks like data storage, retrieval, and manipulation. Here's an overview of the different aspects of File I/O in Python:

###10.1. Reading Input from Keyboard:

In Python, you can use the input() function to read input from the keyboard. Here's a simple example:

In [ ]:
user_input = input("Enter something: ")
print("You entered:", user_input)

###10.2. I/O from Text Files:

In Python, you can perform Input/Output (I/O) operations on text files using the built-in open() function. Text files are a common way to store and exchange data in a human-readable format. Here are the key aspects of working with text files in Python:

###10.2.1. Create a Text File:

To create a new text file, you can use the open() function with the "w" mode (write mode). If the file already exists, it will be overwritten. Here's an example:

In [ ]:
# Open a text file in write mode
with open("example.txt", "w") as file:
    # Write data to the file
    file.write("Hello, World!")

###10.2.2. Reading a File:

To read the contents of an existing text file, you can use the open() function with the "r" mode (read mode). Here's an example:

In [ ]:
# Open a text file in read mode
with open("example.txt", "r") as file:
    # Read the entire contents of the file
    file_contents = file.read()
    print(file_contents)

###10.2.3. Writing into a File:

You can write additional data to an existing text file using the "a" mode (append mode). This mode allows you to add content to the end of the file without overwriting the existing data. Here's an example:

In [ ]:
# Open a text file in append mode
with open("example.txt", "a") as file:
    # Append new data to the file
    file.write("\nAppended text")

###10.3. File Position:

In file I/O, the file position refers to the current location or cursor within a file where the next read or write operation will occur. Understanding and manipulating the file position is important when reading or writing data at specific positions within a file. Here are some key points related to file position:

In [ ]:
with open("example.txt", "r") as file:
    content = file.read(10)  # Read the first 10 characters
    position = file.tell()  # Get the current position
    file.seek(20)  # Move the position to byte 20
    data = file.read(5)  # Read the next 5 characters

print(f"Content: {content}")
print(f"Current Position: {position}")
print(f"Data at Position 20: {data}")

###10.4. Why, When, and Where File I/O is Used:

File I/O is used extensively in programming for various purposes:

Data Storage: File I/O allows you to store data persistently, making it available between program executions.

Configuration Files: Configuration files (e.g., JSON or INI files) are used to store settings and preferences for applications.

Data Analysis: Reading data from files (e.g., CSV or log files) is essential for data analysis and manipulation.

Logging: Programs often write logs to files to record events, errors, and debugging information.

User Interaction: File I/O is used to interact with users by reading input from the keyboard and displaying output.

Data Migration: When transferring data between applications or databases, data is often read from and written to files.

External Data Sources: Data can be imported from external sources, such as web APIs, and written to files for further processing.

Data Serialization: Objects and data structures can be serialized to files and deserialized when needed.

Database Interaction: Many database systems use file-based storage, and File I/O is involved in interactions with databases.

##11. Pandas Library Introduction:

Pandas is a popular open-source data manipulation and analysis library for Python. It provides data structures and functions for efficiently working with structured data, such as spreadsheets or SQL tables. Pandas is widely used in data science, data analysis, and machine learning applications. Here are some key points about Pandas:

Data Structures: Pandas provides two primary data structures: Series and DataFrame. A Series is similar to a one-dimensional array, while a DataFrame is a two-dimensional table with rows and columns, like a spreadsheet or SQL table.

Data Cleaning and Transformation: Pandas allows you to perform operations like filtering, sorting, merging, joining, grouping, and aggregating data. It's valuable for data cleaning and transformation tasks.

Data Import and Export: Pandas supports reading data from various file formats, such as CSV, Excel, SQL databases, and JSON. It can also export data to these formats.

Missing Data Handling: Pandas provides functions for handling missing data, allowing you to fill in missing values or remove rows/columns with missing data.

Data Visualization: While not a primary visualization library, Pandas can work with popular visualization libraries like Matplotlib and Seaborn to create graphs and plots.

###11.1. Read Dataset using Pandas:

To read a dataset using Pandas, you typically use the pd.read_*() functions, where * represents the file format (e.g., pd.read_csv(), pd.read_excel(), pd.read_sql()). Here's an example of reading a CSV file:

In [ ]:
import pandas as pd

# Read a CSV file into a DataFrame
df = pd.read_csv('data.csv')

# Display the first few rows of the DataFrame
print(df.head())

###11.2. Why, When, and Where It Is Used:

Data Analysis and Exploration: Pandas is used for exploring, cleaning, and analyzing data. It helps data analysts and scientists get a deeper understanding of the data they're working with.

Data Preprocessing: Before training machine learning models, data often needs preprocessing, such as handling missing values, encoding categorical variables, and scaling features. Pandas simplifies these tasks.

Data Transformation: Pandas enables you to reshape and transform data, making it suitable for various analyses or for feeding into machine learning algorithms.

Data Visualization: While not a dedicated visualization library, Pandas can be used alongside libraries like Matplotlib and Seaborn to visualize data and gain insights.

Data Wrangling: When working with real-world datasets, you often need to clean, combine, and reshape data. Pandas provides the tools to efficiently perform these tasks.

Data Export: After analysis or preprocessing, you may want to export data in a different format or save it for future use. Pandas can export data to various file formats.

Data Integration: Pandas can be used to merge and integrate data from multiple sources, facilitating data integration tasks.

##12. Series:

In Pandas, a Series is a one-dimensional labeled array capable of holding data of various types. It's similar to a column in a spreadsheet or a single column in a database table. A Series consists of two main components: the data and the index. The data can be of any data type, such as integers, floats, strings, or even more complex objects.

###12.1. Create a Series:

You can create a Series by providing a list of data elements. By default, a numeric index is automatically generated for the Series.

In [ ]:
import pandas as pd

data = [1, 2, 3, 4, 5]
s = pd.Series(data)
print(s)

###12.2. From ndarray (NumPy Array):

You can create a Series from a NumPy ndarray (a one-dimensional array). The index will be generated automatically.

In [ ]:
import pandas as pd
import numpy as np

data = np.array([1, 2, 3, 4, 5])
s = pd.Series(data)
print(s)

###12.3. From Dictionary:

You can create a Series from a Python dictionary, where the dictionary keys become the index of the Series.

In [ ]:
import pandas as pd

data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s = pd.Series(data)
print(s)

###12.4. From Scalar Value:

You can create a Series from a scalar value, which will be repeated to fill the specified index.

In [ ]:
import pandas as pd

value = 5
index = ['a', 'b', 'c', 'd', 'e']
s = pd.Series(value, index=index)
print(s)

###12.5. Series is ndarray-like:

A Series in Pandas is similar to a one-dimensional NumPy array and supports many NumPy operations.

In [ ]:
import pandas as pd
import numpy as np

data = np.array([1, 2, 3, 4, 5])
s = pd.Series(data)

# Accessing elements like a NumPy array
print(s[0])      # Access the first element (1)
print(s[:3])     # Access the first three elements
print(s.mean())  # Compute the mean

###12.6. Series is dict-like:

A Series is also similar to a Python dictionary, where the index acts like keys, and you can access values using these keys.

In [ ]:
import pandas as pd

data = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
s = pd.Series(data)

# Accessing elements like a dictionary
print(s['a'])  # Access the element with index 'a' (1)
print('b' in s)  # Check if 'b' is in the index

###12.7. Vectorized Operations and Label Alignment with Series:

Pandas Series support vectorized operations, which means you can perform element-wise operations on Series without explicitly writing loops. Additionally, Series align themselves based on their index labels, making it easier to work with data that may not be perfectly aligned.

Here's an example illustrating vectorized operations and label alignment:

In [ ]:
import pandas as pd

# Creating two Series
s1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pd.Series([10, 20, 30], index=['b', 'c', 'd'])

# Adding two Series with label alignment
result = s1 + s2

print(result)

###12.8. Why, When, and Where Series is Used:

Pandas Series are used in various scenarios:

Data Exploration: Series are a fundamental data structure for exploring and analyzing data in Pandas. They provide a convenient way to represent and manipulate data.

Data Cleaning: Series can be used for data cleaning tasks, such as handling missing values, removing duplicates, or transforming data.

Data Preparation: Series are often used to prepare data for machine learning tasks, including feature engineering and data transformation.

Data Visualization: Series can be visualized using libraries like Matplotlib or Seaborn to gain insights from data.

Data Aggregation: Series can be grouped and aggregated to compute summary statistics or make data more compact.

Data Alignment: Series are valuable when working with datasets that may not be perfectly aligned. They align themselves based on labels, simplifying data integration.

Time Series Analysis: Series are commonly used for time series data, where the index represents timestamps.

Database Operations: Series can be used to read data from databases and perform database operations.

##13. DataFrames:

A DataFrame is a two-dimensional, size-mutable, and tabular data structure in Pandas, similar to a spreadsheet or SQL table. DataFrames are widely used for data manipulation and analysis. They consist of rows and columns, where each column can have a different data type. Here are various ways to create and work with DataFrames in Pandas:

###13.1. From Dict of Series or Dicts:

You can create a DataFrame from a dictionary where the values are Series or dictionaries themselves. The keys become column names, and the values become column data.

In [ ]:
import pandas as pd

data = {'Column1': pd.Series([1, 2, 3]),
        'Column2': pd.Series([4, 5, 6])}
df = pd.DataFrame(data)

###13.2. From Dict of ndarrays / Lists:

You can create a DataFrame from a dictionary where the values are NumPy arrays or lists. The keys become column names, and the arrays/lists must have the same length.

In [ ]:
import pandas as pd
import numpy as np

data = {'Column1': [1, 2, 3],
        'Column2': [4, 5, 6]}
df = pd.DataFrame(data)

###13.3. From a List of Dicts:

You can create a DataFrame from a list of dictionaries, where each dictionary represents a row and keys become column names.

In [ ]:
import pandas as pd

data = [{'Column1': 1, 'Column2': 4},
        {'Column1': 2, 'Column2': 5},
        {'Column1': 3, 'Column2': 6}]
df = pd.DataFrame(data)

###13.4. From a Dict of Tuples:

You can create a DataFrame from a dictionary of tuples, where each tuple represents a row and the keys become column names.

In [ ]:
import pandas as pd

data = {('Column1', 'Column2'): [(1, 4), (2, 5), (3, 6)]}
df = pd.DataFrame(data)

###13.5. Alternate Constructors:

Pandas provides alternate constructors like pd.DataFrame.from_dict(), pd.DataFrame.from_records(), and pd.DataFrame.from_items() for creating DataFrames from various data sources.

###13.6. Column Selection:

Column selection in Pandas DataFrames allows you to access specific columns or subsets of columns. You can select one or more columns based on their names. There are several ways to select columns:

Using Square Brackets: You can use square brackets and provide the column name(s) as strings.

In [ ]:
# Select a single column
single_column = df['Column1']

# Select multiple columns
multiple_columns = df[['Column1', 'Column2']]

Using Dot Notation: If column names don't contain spaces or special characters, you can use dot notation to select columns.

In [ ]:
single_column = df.Column1

Using .loc[]: The .loc[] indexer allows you to select columns by label. You can specify the column label(s) within the .loc[] method.

In [ ]:
single_column = df.loc[:, 'Column1']
multiple_columns = df.loc[:, ['Column1', 'Column2']]

Using .iloc[]: The .iloc[] indexer allows you to select columns by integer location. You can specify the column integer position(s) within the .iloc[] method.

In [ ]:
single_column = df.iloc[:, 0]  # Select the first column (index 0)
multiple_columns = df.iloc[:, [0, 1]]  # Select the first and second columns

###13.6.1. Column Selection:

You can select a column from a DataFrame using square brackets or dot notation.

In [ ]:
# Using square brackets
column = df['Column1']

# Using dot notation
column = df.Column1

###13.6.2. Column Deletion:

You can delete a column from a DataFrame using the drop() method or the del statement.

In [ ]:
# Using drop() method
df = df.drop('Column1', axis=1)

# Using del statement
del df['Column1']

###13.6.3. Column Insertion:

You can insert a new column into a DataFrame by assigning a Series or a list to a new column name.

In [ ]:
df['NewColumn'] = [7, 8, 9]

###13.7. Indexing/Selection:

You can select rows and columns using various methods, such as loc[] (label-based), iloc[] (integer-based), and boolean indexing.

###13.8. Data Alignment and Arithmetic:

DataFrames support element-wise arithmetic operations and align themselves based on the row and column labels.

13.9. Transposing:

You can transpose a DataFrame (swap rows and columns) using the .T attribute.

In [ ]:
df_transposed = df.T

###13.10. Why, When, and Where DataFrames are Used:

DataFrames are used in various scenarios:
Data Analysis and Exploration: DataFrames are the primary data structure for data analysis and exploration in Pandas. They provide a convenient way to view and manipulate data.

Data Cleaning and Preprocessing: DataFrames are used for data cleaning tasks, such as handling missing values, transforming data, and removing duplicates.

Data Visualization: DataFrames can be used to create visualizations and plots to gain insights from data.

Data Aggregation and Grouping: DataFrames are valuable for aggregating and summarizing data, especially when working with large datasets.

Merging and Joining Data: DataFrames can be merged and joined to combine data from different sources.

Machine Learning: DataFrames are often used to prepare data for machine learning tasks, including feature engineering and model training.

Database Operations: DataFrames can be used for reading and writing data to and from databases.

##14. Viewing Data:

In Pandas, there are several methods and attributes available for viewing data within a DataFrame or Series. These methods allow you to inspect the contents of your data, including the first few rows, summary statistics, and more. Here are some common data viewing methods and attributes:

###14.1. Data Viewing Methods:

head(n): This method returns the first n rows of the DataFrame or Series. It's useful for quickly inspecting the beginning of your data.

In [ ]:
df.head(5)  # Returns the first 5 rows of the DataFrame

tail(n): Similar to head(), tail(n) returns the last n rows of the DataFrame or Series. It's useful for inspecting the end of your data.

In [ ]:
df.tail(3)  # Returns the last 3 rows of the DataFrame

sample(n): The sample() method returns a random sample of n rows from the DataFrame. This is helpful for getting a random subset of your data.

In [ ]:
df.sample(4)  # Returns a random sample of 4 rows

info(): The info() method provides a concise summary of the DataFrame, including the data types, non-null counts, and memory usage. It's useful for understanding the data structure and detecting missing values.

In [ ]:
df.info()

describe(): The describe() method generates summary statistics of the numeric columns in the DataFrame, such as count, mean, standard deviation, minimum, and maximum. It's helpful for gaining insights into the data distribution.

In [ ]:
df.describe()

shape: The shape attribute returns a tuple representing the dimensions of the DataFrame. It indicates the number of rows and columns.

In [ ]:
df.shape  # Returns (rows, columns)

columns: The columns attribute returns a list of column names in the DataFrame.

In [ ]:
df.columns  # Returns a list of column names

index: The index attribute returns information about the DataFrame's index. This can be useful to inspect the index labels.

In [ ]:
df.index  # Returns information about the DataFrame's index

These data viewing methods and attributes provide essential insights into your data, helping you understand its structure, content, and characteristics. They are valuable tools for data exploration and initial analysis.